@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

body,
html,
div.board,
div#react-container {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}
div.surface{
    position: fixed;
    bottom: 0;
    width: 80%;
    height: 70%;
    margin-left: 10%;
    margin-right:10%;
    text-align: center;
    display: block;

}

div.board {
    background-image: url('http://farm4.staticflickr.com/3697/11404615514_4d1f11878b_o.jpg');
    background-color: pink;
    margin: auto;
    text-align: center;
    /*display: inline-block;*/
}

div.hole{
    height: 35%;
    width: 15%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: black;
    position: relative;
    display: inline-block;
    text-align: center;
    text-justify: distribute-all-lines;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    border-radius: 50%;

}

div.mole:active {
    cursor: -webkit-grabbing;
}

div.mole{
    height: 100%;
    width: 60%;
    /*background-color: red;*/
    margin: auto;
    margin-bottom: 10%;
    display: block;
    background-image: url('fuck-face.png');
    background-size: 90px;
    background-repeat: no-repeat;
}
.hammer{
}
div.counter{
    font-family: 46;
    background-color: yellow;
    height: 10%;
    width: 20%;
    /*color: black;*/
}
